.ReactTable {
  background-color: white;
}

.ReactTable .rt-thead {
  /*overflow-y: scroll;*/
}

.ReactTable .rt-thead .rt-tr {
  height: 35px;
}

.ReactTable .rt-tbody .rt-tr {
  height: 45px;
}

.ReactTable.-striped .rt-tr.-odd {
  background-color: inherit;
}
